<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes" />
    <title>{% block title %}{% endblock %}</title>
    <!--
    <link rel="stylesheet" href="static/screen.css" media="Screen" type="text/css" />
    <link rel="stylesheet" href="static/mobile.css" media="handheld, only screen and (max-width: 480px), only screen and (max-device-width: 480px)" type="text/css" />
  -->
    <!--[if IEMobile]>
      <link rel="stylesheet" href="static/mobile.css" media="screen" type="text/css"  />
    <![endif]-->

    <meta content="{{ app_id }}" property="fb:app_id" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
<script type="text/javascript">
window.fbAsyncInit = function() {
    FB.init({
        appId      : '{{ app_id }}', // App ID
        channelUrl : '//'+window.location.hostname+'/channel.html',
        status     : true, // check login status
        cookie     : true, // enable cookies to allow the server to access the session
        xfbml      : false // parse XFBML
    });
    {% if not user %}
    // autologin
    FB.getLoginStatus(function(response) {
        if (response.status === 'connected') {
            window.location = '/login/';
        }
        /* else if (response.status === 'not_authorized') {
            // Show them the facebook button
        } else {
            // the user isn't logged in to Facebook.
        } */
    });
    {% endif %}
};
// Load the SDK Asynchronously
(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
    {% block extra_head %}{% endblock %}
       <style type="text/css">
        .page {
            width:320px;
            max-width: 100%;
            margin: 20% auto  0 auto;
        }
        #spotted_button input {
            opacity: 0.9;
            max-width: 100%;
        }
        #spotted_button input:hover,
        #spotted_button input:active {
            opacity: 1;
        }
        @media screen and (max-width: 500px) {
            .page {
                margin-top: 8%;
            }
        }
    </style>
[21/09/2012 18:04:35] Natalie Downe: that looks good on mobile too
</head>
<body>
    <div class="page">
    {% block content %}

    {% endblock %}
    </div>
  </body>
</html>
