{% extends "base.html" %}

{% block title %}Squirrel spotter!{% endblock %}

{% block extra_head %}
{% if user %}
<script>
jQuery(function($) {
	var button_shown = false;
	function success(position) {
		$('input[name="latitude"]').val(position.coords.latitude);
		$('input[name="longitude"]').val(position.coords.longitude);
		$('input[name="coords_json"]').val(JSON.stringify(position.coords));
		if (!button_shown) {
			button_shown = true;
			$('#spotted_button').show();
			$('#locating').hide();
		}
	}
	function error(msg) {
	    $('#locating').html(msg);
	}
	if (navigator.geolocation) {
	    navigator.geolocation.getCurrentPosition(success, error);
	} else {
	    $('#locating').html('Geolocation not supported, sorry!');
	}
});
</script>
{% endif %}
{% endblock %}

{% block content %}

{% if not user %}
	<div id="login-flow">
		<h1>Squirrel spotter!</h1>
		{% comment %}
		<div class="fb-login-button" data-show-faces="true" data-width="200" data-max-rows="1" data-perms="email,publish_actions"></div>
		{% endcomment %}
		<div><center><a href="/login/"><img src="http://lanyrd-team-screenshots.s3.amazonaws.com/www.squirrelspotter.com_login2_-20120921-200640.png" alt="Log In with Facebook"></a></center></div>
		<iframe src="//www.facebook.com/plugins/facepile.php?app_id=468132099884285&amp;action&amp;size=medium&amp;max_rows=1&amp;width=300&amp;colorscheme=light&amp;appId=277251005633564" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px;" allowTransparency="true"></iframe>
	</div>
{% else %}
	<form id="spotted_form" action="/spotted/" method="POST">{% csrf_token %}
		<p id="spotted_button" style="display:none"><input type="image" src="//squirrelspotter-assets.s3.amazonaws.com/2012/i-saw-a-squirrel.png">
			<input type="hidden" name="latitude">
			<input type="hidden" name="longitude">
			<input type="hidden" name="coords_json">
		</p>
		<p id="locating">Locating...</p>
	</form>
	{% if not user.phone_number %}
		<p class="number"><span class="instructions">Text <strong>{{ user.phone_number_token }}</strong> to <a href="tel:+442033221149">+44 203 322 1149</a></span> This will register your number and you'll be able to report squirrels by text message!</p>
	{% else %}
		<p class="number">Or text <a href="tel:+442033221149">+44 203 322 1149</a> and tell us where you saw the squirrel!</p>
	{% endif %}
{% endif %}

{% endblock %}
