{% extends "base.html" %}

{% block title %}High scores{% endblock %}

{% block content %}


    <h1>Squirrel scoreboard</h1>

    {% if not scores.data %}
      <p>None of your friends have spotted a squirrel :(</p>
    {% endif %}
    
    <div class="score-container">
        <table border="0" cellspacing="0" cellpadding="0">
          {% for score in scores.data %}
            <tr>
                <td>{{ score.user.name }}</td>
                <td><strong>{{ score.score }}</strong> squirrel{{ score.score|pluralize }}!</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <img src="https://dl.dropbox.com/u/2169661/2012/nutters.png" style="margin-top: 2em">


{% endblock %}

{% comment %}
{u'data': [{u'application': {u'id': u'468132099884285',
    u'name': u'Squirrel Spotter',
    u'namespace': u'squirrelspotter'},
   u'score': 1,
   u'user': {u'id': u'666590500', u'name': u'Simon Willison'}},
  {u'application': {u'id': u'468132099884285',
    u'name': u'Squirrel Spotter',
    u'namespace': u'squirrelspotter'},
   u'score': 0,
   u'user': {u'id': u'507652433', u'name': u'Natalie Downe'}}]}
{% endcomment %}
