{% extends "base.html" %}

{% block extra_head %}
<meta content="" property="og:title" />
<meta content="squirrelspotter:squirrel" property="og:type" />
<meta content="http://squirrelspotter-assets.s3-external-3.amazonaws.com/2012/squirrel.png" property="og:image" />
<meta content="http://www.squirrelspotter.com/spot/{{ spot.pk }}/" property="og:url" />
<meta property="squirrelspotter:location:latitude"  content="{{ spot.latitude }}"> 
<meta property="squirrelspotter:location:longitude" content="{{ spot.longitude }}"> 
<meta property="og:description" content="{{ spot.spotter.name }} spotted a squirrel{% if spot.location_name %} in {{ spot.location_name }}{% endif %}!" />
{% endblock %}

{% block content %}


<h1 class="spot-text">{% if is_owner %}You spotted a squirrel!{% else %}{{ spot.spotter.name }} spotted a squirrel!{% endif %}</h1>
<div class="spot-container">
<p>{{ spot.created }}</p>
<p>Spotted at {% if spot.location_name %}{{ spot.location_name }}{% endif %} <span class="meta">{{ spot.longitude }} {{ spot.location_name }}</span></p>

{% if user %}
	<p><a href="/scores/">Scores</a></p>
{% endif %}

{% endblock %}
