{% extends "base.html" %}

{% block extra_head %}
<meta content="{{ spot.spotter.name }} spotted a squirrel!" property="og:title" />
<meta content="squirrelspotter:squirrel" property="og:type" />
<meta content="http://squirrelspotter-assets.s3-external-3.amazonaws.com/2012/squirrel.png" property="og:image" />
<meta property="og:description" content="My First App" />
{% endblock %}

{% block content %}

{% if is_owner %}
	<h1>You spotted a squirrel!</h1>
{% else %}
	<h1>{{ spot.spotter.name }} spotted a squirrel!</h1>
{% endif %}

<p>At {{ spot.created }}</p>

<p><small>{{ spot.latitude }}, {{ spot.longitude }} {{ spot.location_name }}</small></p>

{% endblock %}
